<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Students</title>
</head>
<body>
    <h1>Student Details</h1>
    {% comment %} <p>{{info.2.first_name}}</p> {% endcomment %}
    {% for i  in info %}
         <p>
          <strong>First Name:</strong> {{ i.first_name }}<br>
            Last Name: {{ i.last_name }}<br>
            Age: {{ i.age }}<br>
            Course: {{ i.course }}<br>
            Join Date: {{ i.join_date }}<br>
            Phone No: {{ i.phone }}
        </p>
    {% endfor %}
    
</body>
</html>